html, body {
  width: 100% !important;
  font-size: 14px !important;
}

.addRoe {
  display: block  !important;
  margin: auto !important;
  border:2px solid black !important;
  -moz-border-radius:8px !important;
  -webkit-border-radius:8px !important;
  border-radius:8px !important;
  background: white !important;
  /*            width: 90vw;*/
  width: 475px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 25px !important;
}

.page-header {
  margin-top: 20px !important;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #255625 !important;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff !important;
  background-color: #449d44 !important;
  border-color: #398439 !important;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #761c19 !important;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff !important;
  background-color: #c9302c !important;
  border-color: #ac2925 !important;
}

.btn-add {
  margin-top:7px;
  float:right;
}

.champ-text {
  margin-top:15px !important;
  width:90% !important;
}

.champ-plein {
  margin-top:15px;
  width:100%;
}

#web_login,
#web_password {
  float:left;
  width:25%;
  margin-left: 10px;
  margin-right: 10px;
}

.field-name {
  float:left;
  line-height:30px;
  font-size:14px;
}

.btn-right {
  float: right;
}
