.logo-img {
  display: block;
  margin: auto;
  width: 15%;
}

.login-infos {
  display: block;
  margin: auto;
  width: 300px;
  border:2px solid black;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  background: white;
  padding:15px;
}

.add {
  display: block;
  margin: auto;
  width: 400px;
  border:2px solid black;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  background: white;
  padding: 20px;
}

.legend {
  float:left;
  padding: 5px;
  font-size: 18px;
  color: #1798A5;
}

.btn-login {
  border-radius: 10%;
  border: 2px solid #1798A5;
  width: 90px;
  margin-left: 65%;
  background-color: #5BC0DE;
  padding:5px;
}

.btn-mandate {
  border-radius: 100%;
border: 2px solid #1798A5;
width: 40px;
margin: 0 auto !important;
background-color: #5BC0DE;
padding: 5px;
display: block;
height: 40px;
}

.champ {
  font-size: 11px !important;
  height:30px !important;
}

.checkbox {
  margin-top:0px !important;
  margin-bottom:0px !important;
}

.element {
  padding-left: 15px;
}

.logout-img {
  width: 25px;
  height: 25px;
  float: right;
}
