.logo-img {
  display: block;
  margin: auto;
  width: 15%;
}

.login-infos {
  display: block;
  margin: auto;
  width: 300px;
  border:2px solid black;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  background: white;
}

.add {
  display: block;
  margin: auto;
  width: 400px;
  border:2px solid black;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  background: white;
}

.legend {
  float:left;
}

.legend-ods {
  float:left;
  margin-bottom: 15px;
}
